[submodule "1-create-a-generative-AI-chat-app/1-create-a-generative-AI-chat-app/mslearn-ai-foundry"]
	path = 1-create-a-generative-AI-chat-app/1-create-a-generative-AI-chat-app/mslearn-ai-foundry
	url = https://github.com/microsoftlearning/mslearn-ai-studio
